In [6]:
import av
import pandas as pd

In [9]:
df = pd.read_csv("../kinetics-400-dataset-files/test_raw.csv", sep=" ")
df.columns = ["url", "class"]
df

                                                    url  class
0     ../kinetics-400-dataset-files/val/playing_card...    222
1     ../kinetics-400-dataset-files/val/canoeing_or_...     42
2     ../kinetics-400-dataset-files/val/canoeing_or_...     42
3     ../kinetics-400-dataset-files/val/canoeing_or_...     42
4     ../kinetics-400-dataset-files/val/canoeing_or_...     42
...                                                 ...    ...
2084  ../kinetics-400-dataset-files/val/archery/3hoS...      5
2085  ../kinetics-400-dataset-files/val/archery/-Qz2...      5
2086  ../kinetics-400-dataset-files/val/archery/2x1l...      5
2087  ../kinetics-400-dataset-files/val/taking_a_sho...    347
2088  ../kinetics-400-dataset-files/val/taking_a_sho...    347

[2089 rows x 2 columns]

In [11]:
for _, row in df.iterrows():
    file_path = row.url
    container = av.open(file_path)
    print(container)
    break

<av.InputContainer '../kinetics-400-dataset-files/val/playing_cards/02K4QYwUR6k_000112_000122.mp4'>